<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'Polo_Amazontech/default.css' %}">
</head>
<body>
    <h1>Bem-vindo à Polo Amazontech</h1>
    <p>Encontrando soluções industriais na interseção da tecnologia e natureza.</p>

    <p><b>Nossa Visão</b></p>
    <p>No coração da floresta Amazônica, nasceu a ideia de uma loja dedicada à excelência em componentes industriais.</p>

    <p><b>Nossa Missão</b></p>
    <p>Oferecer aos nossos clientes as melhores informações e os locais de compra mais confiáveis para componentes industriais. Garantimos soluções tecnológicas avançadas com um toque de sustentabilidade.</p>

    <p><b>Nossos Produtos</b></p>
    <p>De robótica a automação, de sistemas hidráulicos a elétricos – a Polo Amazon Tech tem tudo o que a indústria moderna precisa para operar no seu melhor. Nossos produtos são selecionados não apenas pela funcionalidade, mas também pela eficiência e design sustentável.</p>

    <p class="botao" ><a href="{% url 'login' %}">Avancar</a></p>

</html>